// -----------------------------------------------------------------------------
// This file contains all styles related to the form component.
// -----------------------------------------------------------------------------

.scssecoModalWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: -100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
  &#modal_cog {
    left: -100%;    
    right: auto;
  }
  &#modal_user {
    left: auto;
    right: -100%;    
  }
  .scssecoModalOverlay {
    background-color: rgba($text-color, .9);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .scssecoModal {
    align-items: center;
    background-color: $brand-color;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60%;
    max-width: 90%;
    position: relative;
    width: 100%;
    z-index: 11;
    @media screen and (min-width: $csseco_bp_576) {
      max-width: 70%;
    }
    @media screen and (min-width: $csseco_bp_768) {
      max-width: 60%;
    }
    @media screen and (min-width: $csseco_bp_992) {
      max-width: 50%;
    }
    @media screen and (min-width: $csseco_bp_1200) {
      max-width: 40%;
    }
    .scssecoModal__close {
      cursor: pointer;
      right: 10px;
      max-height: 20px;
      max-width: 20px;
      position: absolute;
      top: 10px;
      z-index: 10;
    }
  }
}